*{
  margin:0px;
  border-style: none;
  list-style:none;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
}
.header{
  width:100%;
  background-color:rgb(70, 69, 68);
  height:80px;
  top:0;
  color:white;
  font-size: 2em;
}
nav ul{
  display:flex;
  justify-content: space-around;
  width:50%;
}