*{
  margin:0px;
  border-style: none;
  list-style:none;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;
}
.header{
  width:100%;
  background-color:rgb(70, 69, 68);
  height:80px;
  top:0;
  color:white;
  font-size: 2em;
}
nav ul{
  display:flex;
  justify-content: space-around;
  width:50%;
}
img{
  width:300px;
  height:250px;
  
}
#child, #parent{
  margin: auto;
  font-size: 20px;
  box-sizing: border-box;
  border: 1px solid #2e2929;
  width:30%;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #1541e2;
  color: white;
  cursor: pointer;
  margin:10px;
  padding:5px;
}

button:hover {
  background-color: #0ba053;
}
p{
  font-size:1.2rem;
  margin:5px;
}
#child img, #parent img{
  width:100%;
}
h3, h2{
  text-align:center;
  background-color: #0ba053;
  color:white;
}
#fruitsList{
  background-color: rgb(18, 65, 182);
  padding:5px;
  justify-content: space-evenly;
  color:white;
}
#children{
  display:flex;
  justify-content:center;
}